body{
    background-image: url(../img/pattern.jpg.);
    margin: 0px;
}

header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

li{
    display: inline;
    margin: 5px;
}

a{
    text-decoration: none;
}

a:hover{
    color: green;
}

section{
    background-color: white;
    margin: 70px 200px 40px;
    padding: 30px;
}

h1{
    text-align: center;
}

article{
    border-bottom: 2px solid gray;
    margin-bottom: 10px ;
}

footer{
    background-color: black;
    padding: 10px;
}

h5{
    text-align: center;
    color: white;
}
